<h1>Sign in </h1>
 <%= link_to 'Sign In with Github', '/auth/github' %><br>
 <%= link_to 'Sign In with Google', '/auth/google_oauth2' %><br>
 <%= link_to 'Sign In with Twitter', '/auth/twitter' %><br>
 <%= link_to 'Sign Up with Username', '/signup' %> 

<h1> errors? </h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
